@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}
/* MENU DE NAVEGACION */
.navbar{
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

/* .nav-item{
  color:#D9D9D9;
  margin-left: 1.5rem;
  
} */





 /* ESTILOS BANNER PRINCIPAL - PAGE INICIO*/
.banner1-home{
  background-color: rgba(72, 72, 72, 0.484);
  background-image: url("/imgHome/banner1.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.banner2-home{
  background-color: rgba(72, 72, 72, 0.484);
  background-image: url("/imgHome/banner2.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  
}

.banner3-home{
  background-color: rgba(72, 72, 72, 0.484);
  background-image: url("/imgHome/banner3.png");
  background-size: cover;
  background-blend-mode: darken;

}

.banner4-home{
  background-color: rgba(72, 72, 72, 0.484);
  background-image: url("/imgHome/banner4.png");
  background-position: center;
  background-blend-mode: darken;
  
}